#error {
  background-color: #303030;
  color: #009688;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 40px;
}
main {
  display: flex;
  position: absolute;
}
#app {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  flex: 1;
  position: relative;
}
